

.wrapper.contact {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 25px;
    background-color:  rgba(233, 223, 214, 0.6);

    height: 100vh;

    @media screen and (max-width: 600px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px; 
    }
}

.bio {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 40px;
}

.contact-info {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}













