

.wrapper.contact {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 25px;
    background-color:  rgba(233, 223, 214, 0.6);

    height: 100vh;

    @media screen and (max-width: 700px){
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 50px; 
        grid-gap: 0;
    }
}

.bio {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    margin-top: 6vh;

    padding: 40px;

    h1 {
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 1px;
    }

    @media screen and (max-width: 700px){
        grid-column: 1;    
        grid-row: 1;
    }
}

.contact-info {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;


    p {
        font-family: $mi_font_links;
        font-size: 1em;
        font-style: italic;
        font-weight: 200;
        letter-spacing: 1px;
    }

    a {
        font-family: $mi_font_links;
        font-size: 1em;
        font-style: italic;
        font-weight: 200;
        letter-spacing: 1px;
    }

        @media screen and (max-width: 700px){
        grid-column: 1;    
        grid-row: 2;
    }
}















