
/* --------------------- Typography styles ------------------------ */

$mi_font_header: 'Raleway', sans-serif;
$mi_font_links: 'EB Garamond', serif;
$mi_font_paragraph: 'Helvetica Neue', 'Helvetica', sans-serif;



/* --------------------- ------------------ ------------------------ */

